@font-face {
    font-family: 'tzy';
    /* 字体名自定义即可 */
    src: url('https://unpkg.zhimg.com/akilar-blog@1.0.2/fontsdest/ZhuZiAWan.ttf');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: tzy !important;
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }